@import "base";

.container {
  margin-bottom: 20px;
}
.score {
  display: inline-block;
  position: relative;
  bottom: 20px;
  right: 20px;
  background: black;
  width: 50px;
  color: white;
  border-radius: 30px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: 900;
  font-size: 30px;
}
